/* Image zoom in / out */
.hero-img {
  transform: scale(1.15);
  transition: transform 6s ease;
}

.slick-active .hero-img {
  transform: scale(1);
}

/* Text animation */
.hero-text {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.2s ease;
}

.slick-active .hero-text {
  opacity: 1;
  transform: translateY(0);
}

/* Cafe Hero Fonts */
.font-heading {
  font-family: "Playfair Display", serif;
}

.font-body {
  font-family: "Poppins", sans-serif;
}
.hero-img {
  animation: zoomIn 6s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}

/* ---------- FLIP IN ---------- */
@keyframes flipInX {
  0% {
    transform: perspective(800px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(800px) rotateX(-10deg);
  }
  70% {
    transform: perspective(800px) rotateX(10deg);
  }
  100% {
    transform: perspective(800px) rotateX(0deg);
    opacity: 1;
  }
}

.animate-flip-in {
  animation: flipInX 0.8s ease-out forwards;
  transform-origin: center;
}

/* ---------- FLIP OUT ---------- */
@keyframes flipOutX {
  0% {
    transform: perspective(800px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(800px) rotateX(90deg);
    opacity: 0;
  }
}

.animate-flip-out {
  animation: flipOutX 0.5s ease-in forwards;
  transform-origin: center;
}


@keyframes slideNext {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slidePrev {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-next {
  animation: slideNext 0.7s ease-in-out;
}

.animate-slide-prev {
  animation: slidePrev 0.7s ease-in-out;
}
